<app-header [isAuth]="true"></app-header>
<div class="pt-32">
  <p-card styleClass="md:w-[600px] mx-5 md:mx-auto px-8 py-8">
    <ng-template pTemplate="header">
      <div class="text-[--surface-600] text-3xl font-bold text-left">
        {{ 'BUTTON.REGISTER' | translate }}
      </div>
      <div class="text-[--surface-600] text-sm text-left mt-4">
        {{ 'REGISTER.SUBTITLE' | translate }}
      </div>
    </ng-template>

    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpFormSubmitted()" class="flex flex-col gap-2">
      <div
        class="rounded-lg border border-solid px-3 py-3.5 w-full border-red-300 flex gap-2 items-center"
        *ngIf="errorMessage">
        <i class="pi pi-info-circle text-red-700 font-semibold text-sm"></i>
        <span class="font-semibold text-sm text-red-700">{{ errorMessage | translate }}</span>
      </div>
      <span class="flex gap-4">
        <div class="flex-input">
          <label
            for="sign-up-fisrt-name-input"
            class="text-base text-palette-gray-700 font-medium required"
            >{{ 'REGISTER.FIRST_NAME' | translate }}</label
          >
          <input
            pInputText
            id="sign-up-fisrt-name-input"
            type="text"
            name="first_name"
            placeholder="{{ 'REGISTER.FIRST_NAME' | translate }}"
            [readonly]="isLoading"
            class="read-only:cursor-default w-full h-12"
            formControlName="first_name" />
        </div>
        <div class="flex-input">
          <label
            for="sign-up-last-name-input"
            class="text-base text-palette-gray-700 font-medium required"
            >{{ 'REGISTER.LAST_NAME' | translate }}</label
          >
          <input
            pInputText
            id="sign-up-last-name-input"
            type="text"
            name="last_name"
            placeholder="{{ 'REGISTER.LAST_NAME' | translate }}"
            [readonly]="isLoading"
            class="read-only:cursor-default w-full h-12"
            formControlName="last_name"
            style="margin-right: 10px" />
        </div>
      </span>
      <span class="flex flex-col gap-1">
        <label htmlFor="login-username-input" class="text-sm text-palette-gray-700 font-medium">{{
          'LOGIN.EMAIL' | translate
        }}</label>
        <input
          pInputText
          placeholder="your@email.com"
          [readonly]="isLoading"
          formControlName="email"
          class="w-full h-12 read-only:cursor-default" />
      </span>
      <span class="flex flex-col gap-1">
        <label htmlFor="login-username-input" class="text-sm text-palette-gray-700 font-medium">{{
          'LOGIN.PASSWORD' | translate
        }}</label>
        <input
          pInputText
          id="password"
          placeholder="••••••••"
          [readonly]="isLoading"
          formControlName="password"
          type="password"
          class="w-full h-12 read-only:cursor-default" />
      </span>
      <span class="flex flex-col gap-1">
        <label htmlFor="confirm-pass" class="text-sm text-palette-gray-700 font-medium">{{
          'REGISTER.CONFIRM_PASSWORD' | translate
        }}</label>
        <input
          pInputText
          id="confirm-pass"
          placeholder="••••••••"
          [readonly]="isLoading"
          formControlName="confirm_password"
          type="password"
          class="w-full h-12 read-only:cursor-default" />
      </span>
      <div class="mt-4" style="display: flex; align-items: center; gap: 5px">
        <p-checkbox
          styleClass="read-only:cursor-default"
          [readonly]="isLoading"
          formControlName="agree_policy"
          [binary]="true"
          inputId="binary"
          class="policy-checkbox"></p-checkbox>
        <span class="text-sm text-system-gray-600"
          >{{ 'REGISTER.AGREE_TO_OUR' | translate }}
          <a
            [routerLink]="['/help-center/term']"
            target="_blank"
            class="no-underline text-[--primary-color] text-sm cursor-pointer"
            >{{ 'REGISTER.TERMS' | translate }}</a
          >,
          <a
            [routerLink]="['/help-center/privacy']"
            target="_blank"
            class="no-underline text-[--primary-color] text-sm cursor-pointer"
            >{{ 'REGISTER.PRIVACY_POLICY' | translate }}</a
          >
          {{ 'COMMON.AND' | translate }}
          <a
            [routerLink]="['/help-center/cookie']"
            target="_blank"
            class="no-underline text-[--primary-color] text-sm cursor-pointer"
            >{{ 'REGISTER.COOKIES_POLICY' | translate }}</a
          >.</span
        >
      </div>
      <p-button
        styleClass="w-full style-btn-login mt-4"
        [icon]="isLoading ? 'pi pi-spin pi-spinner mr-2' : ''"
        [disabled]="isLoading || !signUpForm.valid || !signUpForm.get('agree_policy')?.value"
        type="submit"
        label="{{ 'BUTTON.REGISTER' | translate }}"></p-button>
      <small class="text-[--surface-600] text-center">
        {{ 'REGISTER.HAVE_ACCOUNT' | translate }}
        <a [routerLink]="['/login']" class="text-[--primary-color] no-underline">{{
          'BUTTON.LOGIN' | translate
        }}</a>
      </small>
    </form>
  </p-card>
</div>
