<app-header [isAuth]="true"></app-header>
<div class="pt-32">
  <p-card styleClass="md:w-[600px] mx-5 md:mx-auto px-8 py-8">
    <ng-template pTemplate="header">
      <div class="text-[--surface-600] text-3xl font-bold text-left">
        {{ 'BUTTON.LOGIN' | translate }}
      </div>
      <div class="text-[--surface-600] text-sm text-left mt-4">
        {{ 'LOGIN.SUBTITLE' | translate }}
      </div>
    </ng-template>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmitted()" class="flex flex-col gap-2">
      <div
        class="rounded-lg border border-solid px-3 py-3.5 w-full border-red-300 flex gap-2 items-center"
        *ngIf="errorMessage">
        <i class="pi pi-info-circle text-red-700 font-semibold text-sm"></i>
        <span class="font-semibold text-sm text-red-700">{{ errorMessage | translate }}</span>
      </div>
      <span class="flex flex-col gap-1">
        <label htmlFor="login-username-input" class="text-sm text-palette-gray-700 font-medium">{{
          'LOGIN.EMAIL' | translate
        }}</label>
        <input
          pInputText
          placeholder="your@email.com"
          [readonly]="isLoading"
          formControlName="email"
          class="w-full h-12 read-only:cursor-default" />
      </span>
      <span class="flex flex-col gap-1">
        <label htmlFor="login-username-input" class="text-sm text-palette-gray-700 font-medium">{{
          'LOGIN.PASSWORD' | translate
        }}</label>
        <input
          pInputText
          id="password"
          placeholder="••••••••"
          [readonly]="isLoading"
          formControlName="password"
          type="password"
          class="w-full h-12 read-only:cursor-default" />
      </span>
      <small class="text-right">
        <a [routerLink]="['/forgot-pass']" class="no-underline text-[--primary-color]">
          {{ 'LOGIN.FORGOT_PASS' | translate }}
        </a>
      </small>
      <p-button
        styleClass="w-full style-btn-login"
        [icon]="isLoading ? 'pi pi-spin pi-spinner mr-2' : ''"
        [disabled]="isLoading || !loginForm.valid"
        type="submit"
        label="{{ 'BUTTON.LOGIN' | translate }}"></p-button>
      <small class="text-[--surface-600] text-center">
        {{ 'LOGIN.DONT_ACCOUNT' | translate }}
        <a [routerLink]="['/register']" class="text-[--primary-color] no-underline">{{
          'BUTTON.REGISTER' | translate
        }}</a>
      </small>
      <p-divider layout="horizontal" styleClass="flex" [align]="'center'">
        <div class="text-[--surface-600">{{ 'LOGIN.LOGIN_WITH' | translate }}</div>
      </p-divider>
      <asl-google-signin-button class="flex justify-center" [width]="400" type="icon" size="large">
      </asl-google-signin-button>
    </form>
  </p-card>
</div>
