<p-toolbar class="layout-topbar" styleClass="border-0 rounded-none">
  <img class="h-11" src="{{ baseImageUrl }}/logo-brand.png" alt="brand.svg" />

  <div class="flex justify-between px-4">
    <p-button
      icon="pi {{ checked ? 'pi-moon' : 'pi-sun' }}"
      class="self-center"
      styleClass="h-11 w-11 mx-2"
      (onClick)="onThemeChange(!checked)"></p-button>
    <app-language-setting></app-language-setting>
    <p-divider layout="vertical" styleClass="mx-2 h-11" />
    <div class="flex">
      <p-button
        [text]="true"
        severity="secondary"
        label="{{ 'BUTTON.LOGIN' | translate }}"
        class="self-center"></p-button>
      <p-button class="ml-2 self-center" label="{{ 'BUTTON.REGISTER' | translate }}"></p-button>
    </div>
  </div>
</p-toolbar>
