<div class="layout-{{ theme }}">
  <app-header></app-header>
  <div class="text-center pt-10 sm:pt-0 pb-0 flex flex-col justify-between">
    <div class="layout-content">
      <div class="w-4/5 md:w-[30%] h-1/2 flex flex-col justify-center md:justify-evenly">
        <div class="text-[--surface-600] text-5xl font-bold text-left my-4 md:my-0">
          {{ 'HOME.TITLE_1' | translate }}
        </div>
        <div class="flex">
          <p-button
            class="text-2xl text-left whitespace-nowrap"
            label="{{ 'BUTTON.LEARN_MORE' | translate }}" />
          <p-button
            severity="secondary"
            class="text-2xl text-left ml-2 whitespace-nowrap"
            label="{{ 'BUTTON.START_NOW' | translate }}" />
        </div>
      </div>
      <div class="w-4/5 md:w-[45%] text-right">
        <div class="w-full md:w-9/12 aspect-square relative mx-auto">
          <img ngSrc="{{ baseImageUrl }}/home.png" alt="home.png" fill priority />
        </div>
      </div>
    </div>
    <app-choose-us class="layout-css xl:h-screen"></app-choose-us>
    <app-course class="layout-css xl:h-screen"></app-course>
    <app-latest-work class="layout-last-work md:w-1/2 md:mx-auto"></app-latest-work>
    <app-footer class="layout-css bg-[--primary-color] md:h-[30vh]"></app-footer>
    <div class="flex justify-center p-5 md:p-10">
      <a
        class="mx-10"
        [href]="item.link"
        *ngFor="let item of listIcon; trackBy: identify"
        target="_blank">
        <img [src]="item.img" [alt]="item.alt" class="w-8 h-8 sm:w-12 sm:h-12" />
      </a>
    </div>
  </div>
</div>
