<div class="text-center text-[--surface-600] text-4xl font-bold">{{ 'LATEST_WORKS.TITLE' | translate }}</div>
<div class="w-full">
  <p-carousel
    styleClass="w-full"
    [value]="products"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <p-card styleClass="border-1 surface-border border-round m-2">
        <ng-template pTemplate="header">
          <img [src]="product.img" [alt]="product.name" class="w-full border-round" />
        </ng-template>
        <div class="mb-3 font-medium text-left">
          {{ product.name }}
        </div>
        <div class="flex justify-content-between text-left">
          <span>
            {{ product.description }}
          </span>
        </div>
      </p-card>
    </ng-template>
  </p-carousel>
</div>
